.container {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.title-1 {
  font-size: 2em;
  font-weight: bold;
  text-transform: capitalize;
  vertical-align: middle;
  margin-right: 30px;
}

.text {
  font-size: 16px;
  margin: 8px 0;
}

.image {
  height: 100%;
  object-fit: cover;
  border-radius: 1.5em 0 0 1.5em;
}

.link {
  color: #0073e6;
  text-decoration: none;
}

.subtitle {
  font-size: 20px;
  font-weight: bold;
}

.title-img{
  padding-left: 10px;
}

.list-instruction {
  padding: 1em;
  border-radius: 1.5em;
  background-color: rgba(196, 187, 187, 0.2);
}

.list-instruction li {
  list-style: none;
  display: flex;
  padding: 0.5em;
  border-radius: 0.8em;
  transition: transform 0.4s, box-shadow 0.4s;
}
.list-instruction li:hover {
  transform: scale(1.025);
  cursor: pointer;
}
.hover-shadow-light li:hover {
  box-shadow: 7px 10px 13px 1px rgba(110, 109, 109, 0.4);
}
.hover-shadow-dark li:hover {
  box-shadow: 7px 10px 18px -4px rgba(70, 68, 68, 0.4);
}

.list-instruction ul {
  margin-left: 0;
  margin-right: 2em;
}
.barred-text {
  text-decoration: line-through;
  background-color: rgba(155, 155, 155, 0.18);
}

.index {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.2em 0.8em 0.2em 0.2em;
}

.list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 90%;
  column-gap: 2em;
}
.list li {
  margin-right: 2em;
}

.list-item {
  font-size: 16px;
  margin: 4px 0;
}

.content-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.image-ingredient {
  height: 25em;
  max-height: 25em;
  display: flex;
  background-color: rgba(196, 187, 187, 0.2);
  border-radius: 1.5em;
  overflow: hidden;
}

.section-list-ingredient {
  margin: 1em;
}

.video {
  width: 40em;
}
.video-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 2em;
}

.goBackButton {
  visibility: visible;
  border: 0;
  background: none;
}
.goBackButton img {
  width: 3em;
  transition: transform 0.3s ease;
}
.goBackButton img:hover {
  transform: translateX(-10px);
  cursor: pointer;
}

.instruction {
  margin-left: 2em;
}
