.search-results {
  display: flex !important;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  margin-top: 10px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  margin-right: 4%;
  display: flex !important;
}

.search-switch {
  margin-right: 13%;
  color: aliceblue;
}
