form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: linear-gradient(
          0.5deg, #6b3167, #4b1248
  );
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid rgba(75, 18, 72, 0.7);
  padding: 5px;
}
input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  color: aliceblue;
  border-radius: 20px;
  padding: 0 20px;
  background: linear-gradient(
          0.5deg, #6b3167, #4b1248
  );
}
.magnifier-img {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #29292a;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
  visibility: visible;
  -webkit-filter: invert(1);
  filter: invert(1);
}

form:hover {
  width: 200px;
  cursor: pointer;
}
form:hover input {
  display: block;
}
form:hover .magnifier-img {
  background: rgba(229, 227, 227, 0.51);
  color: #4b1248;
}

button {
  visibility: hidden;
}
