.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.title {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.search-bar{
  margin-top: 45px;

}