.search-results {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  margin-top: 45px;
}

.no-meal-found {
  display: flex;
  justify-content: center;
  height: 75vh;
  align-items: center;
}